.header, .footer{
    text-align: center;
    padding: 20px;
    background-color: cornflowerblue;
}
div.header p, div.footer p{
    text-transform: uppercase; 
    color: blue;
    font-size: 20px;
}
.container{
   background-color: coral; 
}
.menu{
   width:"200px";
   float: left;
}
div.menu p{
font-weight: bold; 
padding-left: 5px;
}
.ul{
   float:left;
}
.content{
        background: white;
        margin-left: 220px;
        margin-top: -15px;
        background-image: url(/Lesson5/maket_div/ball.png);
        background-position: right top;
        background-repeat: repeat-y;
        font-size: 15px;
}
.img{
   float:left;
}
div.content p{
 padding-left: 10px;
}
.clearfix::after{
   content: '';
   display:block;
   clear: both;
}