/* catalog-page */
@media all and (max-width: 1180px){
    .container{
        width:900px;
        margin:0 auto;
    }
    .header-search-wrap{
        width:900px;
    }
    .search-box-wrap{
        width:900px;
        margin:0 auto;
    } 
    .header-search ul li{
        margin-right:40px;
    }
    .search-box:hover{
        width:700px;
        margin:0 auto;
    } 

   .filter{
       width:230px;
   }
    .filter h4{
        width:230px;
        padding-left: 85px;
    }
    .filter label{
        margin-left: 7px;
        margin-right: 7px;
    }
    .filter p.filter-type{
        padding-bottom: 15px;
    }   
    .filter input[type="text"]{
        width:55px;
    }
    .filter div input[type="reset"]{
        margin-top:10px;
        margin-left:15px;
        font-size:12px;
    }
    .filter div input[type="submit"] {
        background: #F2BF63;
        margin-right: 18px;
        margin-left: 16px;
        width: 144px;
        height: 35px;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 16px;
  
    }
    .catalog .sorting-wrap{
        width:670px;
        height: 1590px; 
    }
    .sorting{
        margin-left: 5px;
    }
    .sorting-span{
        margin-right: 3px;
        font-size: 18px;
    }
    .sorting select {
        font-size: 16px;
}
    .sorting-wrap .catalog-items {
        width: 670px;
        margin-left: 3px;
}
    .catalog-card-wrap{
        width:220px;
}
    .catalog-card{
        width:220px;
}
    .fa-regular.fa-heart{
        right:45px;
        top: 9px;
        right: 27px;
    }
    .catalog-card p {
        font-size: 15px;
        line-height: 18px;
    }
    .catalog-card span.newprice {
        font-size: 16px;
    }
    .catalog-card span.oldprice {
        font-size: 13px;
    }    
    .catalog-card button.card-busket {
        width: 172px;
        height: 42px;
        font-size: 16px;
    }    
    .catalog-card div {
        width: 225px;
    }  
    .pages {
        margin-top: 45px;
        margin-bottom: 20px;
        padding-left:450px;
    }
    
}
@media all and (max-width: 930px){
    .container{
        width:720px;
        margin: 0 auto;
    }
    .header-top-left li:first-child {
        margin-right: 20px;
    }
    .header-top-right img:first-child {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        margin-left: 17px;
    }

    .logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .logo img {
        margin-top: 22px;
        margin-bottom: 22px;
    }
    .header-search-wrap {
        width: 720px;
        margin:0 auto;
    }
    .header-search ul {
        font-size: 16px;
    }
    .search-box-wrap {
        width: 720px;
        margin: 0 auto;
    }
    .search-box:hover{
        width:600px;
    } 
    .search-box input.search-txt {
        font-size: 16px;
    }
    .sale-block h1 span {
        margin-left: 513px;
        font-size: 11px;
    }
    .sorting span {
        font-size: 16px;
        line-height: 23px;
        margin-right: 0px;
        display:block;
        text-align: center;
        margin-bottom: 12px;
    }
    .catalog .sorting-wrap {
        width: 490px;
        height: 2570px;
    }
    .sorting select {
        font-size: 16px;
        height: 32px;
        margin-right: 0px;
    }
    .sorting {
        height: 61px;
        margin-bottom:15px;
}    
    .sorting-wrap .catalog-items {
        width: 490px;
        margin-left: 3px;
        justify-content:space-around;
}
    .filter h1{
     font-size:17px;
}
    .catalog-card-wrap{
        margin-bottom: 5px;
    }
    .pages li {
        font-size: 20px;
    }
   
   .footer-bottom .container{
    justify-content: wrap;

}



}
@media all and (max-width: 760px){
.container{
    width: 540px;
    margin:0 auto;
}

.header .container {
    justify-content: flex-start;
}    
.header-top-left li:first-child {
    margin-right: 10px;
}
.header-top-left li:last-child a{
    display:none;
}
.header-top-left li:first-child a{
    display:none;
}
.header-top-right img:first-child{
    margin-right: 0px;
    margin-left: 0px;
}

.header {
    height: 62px;
}

.header-top-right img:first-child {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-left: 17px;
}
.header-top-right img:first-child {
    width: 22px;
    height: 22px;
}
.header-search-wrap {
    width: 540px;
    margin: 0 auto;
}
.header-search ul li {
    margin-right: 10px;
}
.search-box-wrap {
    width: 540px;
    margin: 0 auto;
}
.search-box:hover {
    width: 400px;
}
.sale-block h1 span:first-child {
    margin-top: 10px;
}
.sale-block h1 span {
    margin-bottom: 30px;
}
.sorting {
    display:flex;
    flex-direction:column;
    width:250px;
    height:93px;
    margin-bottom:10px;
    margin-left: 25px;
}
.sorting select{
    margin-bottom:5px;
}
.sale-block h1 span {
    margin-bottom: 9px;
    margin-left: 405px;
}
.sorting-wrap .catalog-items {
    width: 310px;
    margin-top:20px;
    overflow:hidden;
    height:1565px;
}    
.catalog-card-wrap {
    width: 260px;
}
.catalog-card{
    width:260px;
}
.fa-regular.fa-heart {
    right: 0px;
}
.catalog-card div.pricing {
    padding-left: 39px;

}
.pages {
    padding-left: 200px;
    margin-top:80px;
}
.catalog .sorting-wrap {
    width: 310px;
    height: 1565px;
}
.sale-block h1 span {
    margin-left: 175px;
    margin-bottom:0;
}  
    .sorting {
    margin-left: 5px;
    }
    .sorting-wrap .catalog-items {
        width: 310px;
        justify-content: flex-start;
        height: 1565px;
    }
    .catalog-card {
        width: 250px;
    }
    .catalog-card-wrap {
        width:250px;
    }
.footer-bottom .container{
    display:flex;
    flex-direction:column;
    justify-content:center;

}

.footer-bottom ul li:last-child {
    padding-bottom: 0px;
}
.footer-bottom .contact {
    margin-right: 120px;
}

.footer-bottom .contact {
    margin-right: 0px;
}
.footer-bottom .container-bottom {
    width: 540px;
}

.container-bottom .container{
    width:540px;
}
}

@media all and (max-width: 560px){
.container{   
    width:300px;
    margin: 0 auto;
}
/* hamburger */
#hamburger{
    display: block;
}
#menu{
    position:fixed;
    flex-direction: column;
    top: 60px;
    left:20px;
    transform: translate(800%);
    transition:1.5s;
}
#menu li{
    margin-left:0;
    margin-right:0;
}
#close{
    display: none;
}

.header .container{
    width:300px;
    margin: 0 auto;
}
.header-top-right li:last-child a{
    display:none;
}
.header-top-left {
    flex-direction: column;
    justify-content: space-between;
}
.logo img {
    margin-top: 14px;
    margin-bottom: 13px;
}
.header-search-wrap {
    width: 300px;
    margin: 0 auto;
}
.header-search ul {
    flex-direction: column;
}
.header-search ul li {
    padding-top: 8px;
    padding-bottom: 0px;
}
.search-box-wrap {
    width: 300px;
    margin: 0 auto;
}
.search-box:hover {
    width: 215px;
}
.filter{
    height:auto;
}
.filter h4{
    width:100%;
}
.catalog .container {
flex-direction:column;
}
.filter input[type="text"] {
    display:none;
}    
.filter {
    width:100%;
}
.breadcrumbs ul li {
    margin-top:11px;
}    
.pages {
    padding-left: 0px;
    margin-top: 132px;
}
.pages li {
    margin-right: 9px;
}
.footer-bottom {
    height: 945px;
}
.footer-bottom .container-bottom {
    width: 300px;
}
.footer-bottom .container-bottom p {
    padding-left: 0px;
}
.container-bottom .container{
    width: 300px;
}

}
/* itemcard-page */
@media all and (max-width: 1180px){
    .itemcard .container {
        width:900px;
        margin:0 auto;
    }
    .itemimg div img {
        width: 300px;
        height: 400px;
        margin-bottom: 122px;
    }
    .itemimg div{
    width: 300px;
    height: 400px;
}
.itemcarddescr {
    width: 560px;
}
.shopinfo {
    width: 570px;
}
.btn:nth-of-type(1), .btn:nth-of-type(2) {
    margin-bottom: 10px;
}
.btn {
    width: 250px;
}
.itemcard h4 {
    margin-top: 40px;
    margin-bottom: 0px;
}


/* owl-slider */
.swiper{
    width:900px;
}

}
@media all and (max-width: 930px){
    .itemcard .container {
        width: 720px;
        margin: 0 auto;
    }
    .itemimg div img {
        width: 268px;
        height: 330px;
        margin-bottom: 0px;
    }
    .itemcarddescr {
        width: 440px;
    }
    .shopinfo {
        width: 477px;
    }
    .tel span {
        font-size: 13px;
    }
    .itemimg span {
        display: flex;
        margin-bottom: 20px;
    }
    .btn {
        width: 190px;
    }
.swiper{
    width:720px;
}
.card-content .image{
    width:100%;
    margin-bottom:10px;
}    

.card .swiper-slide{
    font-size:14px;
}
.card-content{
    width: 300px;
    margin-right:70px;
}




}
@media all and (max-width: 760px){
    .itemcard .container {
        width: 540px;
        margin: 0 auto;
    }
    .itemimg div  {
        width: 204px;
        height: 237px;
        margin-bottom:20px;
    }
    .itemimg div img {
        width: 204px;
        height: 237px;
        margin-bottom: 0px;
    }
    .itemcarddescr {
        width: 300px;
    }
    .shopinfo {
        width: 300px;
        height: 446px;
    }
    .itemcarddescr h3 {
        font-size: 21px;
    }
    .itemcarddescr p:first-of-type span:first-child {
        margin-right: 28px;
    }
    .itemcarddescr p:nth-of-type(2) span:first-child {
        margin-right: 14px;
        font-size: 23px;
    }
    .itemcarddescr p:nth-of-type(2) span:last-child {
        font-size: 18px;
    }
    .shopinfo p:first-child {
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 25px;
        margin-left: 17px;
        padding-top: 18px;
    }
    .radiobox {
        margin-left: 11px;
    }
    .shopinfo div.tel {
        margin-top: 85px;
        margin-bottom: 24px;
        margin-right: 44px;
    }
    .btn {
        width: 128px;
        font-size: 16px;
    }
.swiper{
    width:540px;
}
.card .card-image{
    width: 160px;
    margin-bottom:10px;
}    


}
@media all and (max-width: 560px){
    .breadcrumbs ul {
        display: flex;
        flex-direction: column;
    }
    .breadcrumbs ul li {
        margin-bottom: 0px;
    }
    .breadcrumbs .container{
        margin-bottom: 20px;
    }
    .itemcard .container {
        width: 300px;
        margin: 0 auto;
        flex-direction:column;
    }
.swiper{
    display: flex;
    flex-direction:column;
}

}
/* busket_page */
@media all and (max-width: 1180px){
    .busket .list {
        width: 900px;
    }
    .busket .busket-item-wrap {
        margin-left: 0px;
 
    }
.total{
    padding-left:600px;
}

.total span:first-child{
    margin-right:61px;
}
   
}
@media all and (max-width: 930px){
.busket .list {
    width: 720px;
    }
.busket .busket-item-wrap {
    margin-left: 0px;
}  
.add-item{
    margin-right:147px;
    width:247px;
    justify-content:felx-start;
}
.total {
    padding-left: 469px;
}
.footer-bottom .container ul:first-child{
    margin-right:10px;
}
.item-cost{
    display:flex;
}
.busket-item-wrap .item-cost span:first-child {
    margin-right: 23px;
 
}
}
@media all and (max-width: 760px){
.busket .list {
    width: 540px;
}
.add-item {
    margin-right: 60px;
    width: 267px;
}
.delivery button {
    width: 262px;
}
.total {
    padding-left: 259px;
}
.address p {
    margin-right: 63px;
}
.footer-bottom .container {
    display: flex;
    flex-flow: wrap;
}
.footer-bottom .container ul:nth-child(3) {
    margin-right: 40px;
    padding-left: 0;
}
}
@media all and (max-width: 560px){
.logo .container p {
        font-size: 50px;
        margin-top: 20px;
    }        
.busket .list {
    width: 100%;
    }
.busket .list span {
        font-size: 16px;
}
.item-cost{
    margin-top:20px;
}
.busket-item-wrap .busket-item {
    display: flex;
    flex-direction:column;
}
.item-cost{
    display:flex;
    justify-content:space-between;
}
.busket-item-wrap .item-cost span:first-child {
    margin-right:30px;
}
.coupon {
    flex-direction:column;
}
.coupon button{
    width:100%;
}
.coupon p {
    font-size: 16px;
}    
.coupon input {
    width: 100%;
    margin-bottom: 15px;
}
.delivery button {
    margin-bottom: 10px;
    width:100%;
}
.address{
    flex-direction:column;
    margin-bottom:20px;
}
.address p {
    margin-bottom: 10px;
}
.total {
    padding-left: 28px;
}
.orderplace button {
    width: 303px;
}
.address button{
    width:100%;
}
.footer-bottom .container{
    display:flex;
    flex-direction:column;

}


}
/* shops */
@media all and (max-width: 1180px){
.search-box-wrap {
    width: 900px;
    margin: 0 auto;
    }
.carousel.slide {
    width: 900px;
    height: 505px;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.map-wrap{
    width:900px;
    margin: 0 auto;
}
.accordion-wrap {
    width: 900px;
    margin: 0 auto;
}
.info-title-shops {
    margin-top: 30px;
}

}
@media all and (max-width: 930px){
.map-wrap {
    width: 720px;
    margin: 0 auto;
    }
.map-wrap {
    width: 970px;
    margin: 0 auto;
    }
.info-title-shops {
        margin-top: 61px;
    }
}
@media all and (max-width: 760px){
.map-wrap {
    width: 540px;
    margin: 0 auto;
}
.accordion-wrap {
    width: 540px;
    margin: 0 auto;
}
.carousel.slide {
    width: 560px;
    height: 131px;
}
.accordion {
    max-width: 530px;
    margin-left:75px;
    margin-right:75px;
}
.footer-bottom .container ul{
    padding-left:0;
}
.map-wrap .container {
    justify-content: space-around;
}
.map iframe{
    width:100%;
}




}
@media all and (max-width: 560px){
.map-wrap {
    width: 300px;
    margin: 0 auto;
}
.accordion-wrap {
        width: 300px;
        margin: 0 auto;
}

}
/* mmain_page */
@media all and (max-width: 1180px){

.info-items .container{
    width: 900px;
}
}
@media all and (max-width: 930px){

.text-wrap{
    left:0px;
    font-size: 18px;
}
.info-items .container{
    width: 720px;
}
.header-top-left{
    padding-left:0;
}
.header-top-right{
    padding-left:0;
}
.header .container {
    justify-content: center;
}
.header-top-right {
    padding-left: 0;
    flex-direction: column;
}
.header-top-left {
    padding-left: 0;
    flex-direction: column;
}
.header-top-left img{
    display:none;
}
.promo .contaier{
    width:720px;
}
}
@media all and (max-width: 760px){

.promo .container {
    display: flex;
    flex-direction: column;
    margin-top:60px;
}
.promo ul li a span{
    font-size:33px;
}
.promo ul li a span:nth-child(2) {
    font-size: 33px;
}
.promo ul li a span:first-child {
    font-size: 33px;
}
.header-top-left {
    padding-left: 0;
    flex-direction: column;
}
.banners .container{
    flex-flow:wrap  !important;
}
.banners .element{ 
    width: 200px;
    height:250px;
}
.banners .element-wrap{
    flex-direction:row;
    margin-top:6px;
}
.banners .element-wrap .element:first-child {
    margin-right: 59px;
}
.info-items .container {
    width: 540px;
}
.promo .container{
    width:540px;
}

}
@media all and (max-width: 560px){
.banners .element-wrap{
        flex-direction:column;
    }
.promo .container{
    width:300px;

}
.info-items .container{
    width:300px;
}

.header-top-left li:last-child{
    display:none;
}
.header-top-right{
    flex-direction:row;
}
.header-top-right li:first-child a{
    display:none;
}
.header-top-right li:last-child button{
    display:none;
}
.banners .element-wrap .element:first-child {
    margin-right:0;
}
.info-items a{
    width:48%;
}
}














