*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.container{
    width:1140px;
    border:solid red 1px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #707070;
    height:10000px; /* временно*/
}
/*  Header*/
.header{
    padding-top: 14px;
    padding-bottom: 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #707070;
}
.header-top-left ul{
    display:flex;   
}
.header-top-left ul li:first-child{
    margin-right:73px;
}
.header-top-right{
    display:flex;
}

.header-top-right img:first-child{
    width:20px;
    height:20px;
    margin-right:8px;
}
.header-top-right span:first-child{
    margin-right: 67px;   
}
.header-top-right img:last-child{
    width: 17px;
    height: 8px;
    margin-right: 13px;
}