*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.clearfix{
    content: '';
    display:block;
    clear: both;
}
.container{
    border: 1px solid red;
    width:1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #707070;
    height:10000px; /* временно*/
}
/*  Header*/
.header{
    height:45px;   
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid #F0F0F0;
}
.header:hover{
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}
.header-top-left ul{
    display:flex; 
    padding-top: 11px;
    padding-bottom: 11px;
    color: #707070; 
    font-size: 20px;
    line-height: 23px;
}
.header-top-left ul li:first-child{
  margin-right: 44px;
}
.header-top-left ul li:hover{
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}

.header-top-right ul{
    display:flex;
    justify-content: flex-end;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    line-height: 21px;
}
.header-top-right span:hover{
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}    
.header-top-right img:hover{
    border: 2px solid rgba(33, 166, 243, 1);
}

.header-top-right img:first-child{
    width:24px;
    height:24px;
    margin-right:8px;
    margin-left: 45px;
}
.header-top-right img:last-child{
    width:22px;
    height:23px;
    margin-right:8px;
    margin-left:44px;
}
.header-top-right span:last-child{
    vertical-align:6px;
}

.logo{
    
    border-bottom: 1px solid #F0F0F0;  
}
.logo img{
    display:flex;
    justify-content: center;
    width: 219px;
    height: 66px;
    margin-top: 39px;
    margin-bottom: 30px;  
    margin-left:539px; 
}
.logo:hover{
 border-bottom: 2px solid rgba(33, 166, 243, 1);
}
/*header-search*/
.header-search{ 
    display:flex;  
    justify-content: space-between; 
    color: #707070; 
    border: 1px solid #F0F0F0;
}
.header-search ul{
    display:flex;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}
.header-search ul li{
    padding-top:24px;
    padding-bottom: 24px;
    margin-right:36px;   
} 
.header-search ul li a:hover{
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}
.header-search .icons{
    display:flex;
}
.header-search .icons li img:first-child{
    width: 31px;
    height: 31px;
}

.header-search .icons li:last-child{
        width: 38px;
        height: 38px;
        margin-left: 52px;
}

