*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.container{
    width:1140px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #707070;
    height:10000px; /* временно*/
}
/*  Header*/
.header{
    height:45px;
    padding-top: 14px;
    padding-bottom: 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid #F0F0F0;
}
.header:hover{
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}
.header-top-left ul{
    display:flex;   
}

.header-top-left ul li:first-child{
    margin-right:73px;
}
.header-top-left ul li:hover{
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}

.header-top-right{
    justify-content: flex-end;
    display:flex;
}
.header-top-right span:hover{
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}    
.header-top-right img:hover{
    border: 2px solid rgba(33, 166, 243, 1);
}

.header-top-right img:first-child{
    width:20px;
    height:20px;
    margin-right:8px;
}
.header-top-right span:first-of-type {
    margin-right: 67px;   
}
.header-top-right img:last-of-type {
    width: 17px;
    height: 19px;
    margin-right: 13px;
}
.logo{
    border-bottom: 1px solid #F0F0F0;
    margin-left: auto;
    margin-right:auto;
}
.logo img{
    width: 219px;
    height: 66px;
    margin-top: 39px;
    margin-bottom: 30px;    
}
.logo:hover{
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}