*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    outline:none;
}

.container{
    border: 1px solid red;
    width:1140px;
    margin: 0 auto;

    display:flex;
    justify-content: space-between;
}
li{
    list-style-type: none;
}
a{
    color:inherit;
    text-decoration: none;
}
button{
    border: none;
    background-color: transparent;
}
body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #707070;
    height:10000px; /* временно*/
}
/*  Header*/
.header{ 
    height:45px;    
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid #F0F0F0;
}
.header .container{
   display:flex;
   justify-items: space-between;
}
.header:hover{
  border-bottom: 2px solid rgba(33, 166, 243, 1);
}
.header-top-left {  
    display:flex;
    padding-top: 11px;
    padding-bottom: 11px;
    color: #707070; 
    font-size: 20px;
    line-height: 23px;
}
.header-top-left li:first-child{
  margin-right: 44px;
}
.header-top-left li:hover{
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}

.header-top-right {
    display:flex;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    line-height: 21px;
}
.header-top-right span:hover{
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}    
.header-top-right img:hover{
    border: 2px solid rgba(33, 166, 243, 1);
}
.header-top-right img:first-child{
    width:24px;
    height:24px;
    margin-right:8px;
    margin-left: 45px;
}
.header-top-right img:last-child{
    width:22px;
    height:23px;
    margin-right:8px;
    margin-left:44px;
}
.header-top-right span:last-child{
    vertical-align:6px;
    padding-right: 5px;
}

.logo{  
    border-bottom: 1px solid #F0F0F0;  
}
.logo .container{
    display:flex;
    justify-content:center;
}
.logo img{
    width: 219px;
    height: 66px;
    margin-top: 39px;
    margin-bottom: 30px;
}
.logo:hover{
 border-bottom: 2px solid rgba(33, 166, 243, 1);
}
.logo img:hover{
    border: 2px solid rgba(33, 166, 243, 1);
}

/*header-search*/
.header-search{   
    color: #707070; 
    border: 1px solid #F0F0F0;
}
.header-search .container{
    display:flex;  
    justify-content: space-between; 
    position:relative;
    border:1 px solid red;
}
.header-search ul{
    display:flex;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}
.header-search ul li{
    padding-top:24px;
    padding-bottom: 24px;
    margin-right:52px;   
} 
.header-search ul li a:hover{
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}
.header-search .icons{
    position:relative;
    display:flex;
    justify-content: flex-start;
}

.header-search .icons li:hover{
    border: 2px solid rgba(33, 166, 243, 1);
}
.header-search .icons button:first-child{
    width: 31px;
    height: 31px;
    margin-top: 20px;
    margin-right: 52px;
}
.header-search .icons button:last-child{
        width: 38px;
        height: 38px;
        margin-top: -5px;
}
img.ellipse{
    width: 16px;
    height: 16px;
    background: #F2BF63;
    border-radius: 10px;
    position:absolute;
    top: 8px;
    right: 0px;
}
.header-search span{
    position:absolute;
    top: 12px;
    right: 6px;
    font-size: 8px;
    line-height: 9px;
    text-align: center;
    color:  #FFFFFF;
}
/*breadcrumbs*/

.breadcrumbs ul{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
}
.breadcrumbs ul li{
    font-size: 14px;
    line-height: 16px;
    margin-right:8px;
    margin-top:24px;
    margin-bottom:40px;
}
.breadcrumbs ul img{
    margin-left:8px;
    width: 4px;
    height: 4px;
    vertical-align: 2px;
}
/* sale */
.sale .container{
    display:flex;
    height: 173px;
    background: url(images/background.jpg);
    margin-bottom: 41px;
}
.sale-block h1{
    display: flex;
    flex-direction:column;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sale-block h1 span{
    margin-left:585px;  
    margin-bottom:12px; 
}
.sale-block h1 span:first-child{
    margin-top: 50px;
}
.sale-block h1 span:hover{
    display:inline-block;
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}
.sale .container:hover{
    border: 2px solid rgba(33, 166, 243, 1);
}

/*filter*/
.filter{
    position:relative;
    border: 1px solid #EAEAEA;
    width: 338px;
    height: 1612px;
    border-radius: 15px;
}
.filter div{
    border: 1px solid #EAEAEA;
}
.filter div:last-child{
    border: none;
}
.filter div:not(:last-child):hover{
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}
.filter h4{
    border-radius: 15px;
    border: 1px solid #EAEAEA;
    background: #EAEAEA;
    border-radius: 15px 15px 0px 0px;
    width: 338px;
    height: 64px;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    padding-top:23px;
    padding-bottom:18px;
    padding-left:130px;
    padding-right:129px;
}
.filter h4:hover{
    border: 2px solid rgba(33, 166, 243, 1);
}
.filter h4 span:hover{
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}
.filter p.filter-type {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    padding-left:15px;
    padding-right:16px;
    padding-top:32px;
    padding-bottom: 20px;
    position:relative;
}
.filter p.filter-type span{
width: 70px;
height: 21px;
}
.filter p.filter-type span:after{
    content: url(images/arrowsvg.svg);
    width: 12px;
    height: 6px;
    position:absolute;
    top:30px;
    left:120px;
}
.filter p.filter-type span:hover{
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}
p#size{
    padding-top:35px;
}
.filter input[type="checkbox"]{
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border: 1px solid #707070;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom:12px;
    margin-right: 12px;
    margin-left: 16px;
} 
.filter input[type="checkbox"]:hover{
    border: 2px solid rgba(33, 166, 243, 1);
}

.filter .price input[type="checkbox"]:last-child{
    margin-bottom:24px;
}
.price  p.filter-type label:first-child{
    margin-left:15px;
    margin-right:12px;
}
.filter input[type="text"]{
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
    width: 96px;
    height: 24px;
    margin-top:26px;
    margin-right: 12px;   
    margin-bottom: 24px;
} 
.filter input[type="text"]:hover{
    border: 2px solid rgba(33, 166, 243, 1);
}
.filter label{
    font-size: 14px;
    line-height: 16px;
    margin-left: 16px;
    margin-right: 12px;
}  
.filter label:hover{
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}
.filter .div label{
    font-size: 18px;
    line-height: 21px;
}   
.filter .div label:hover{
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}
.filter .div label:first-of-type{
    margin-right: 12px;
    margin-top:26px;
}
.filter .div label:last-of-type{
    margin-right: 12px;
    margin-top:26px;
}
.filter div button{
    width: 144px;
    height: 40px;
    border-radius: 5px;
    margin-top:32px;
    margin-bottom:16px;
}
.filter div button:hover{
    border: 2px solid rgba(33, 166, 243, 1);
}
.filter div button:first-child{
    background: #F2BF63;
    margin-right: 18px;
    margin-left:16px;
}
.filter div button:last-child{
    background: #313131;
}
.filter div button span{
    width: 73px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 36px;
    padding-right:36px;
}
.filter div button span:hover{
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}
/*catalog*/
.catalog .container{
    display:flex;
    justify-content: space-between;
}
.catalog .sorting-wrap{
    width: 775px;
    height: 1612px;
    border: 1px solid blue;
}
.sorting{
    height: 42px;
    border: 1px solid green;
    padding-top:2px;
    padding-bottom:12px;
}
.sorting span{
    font-size: 20px;
    line-height: 23px;
    margin-right: 22px;
}
.sorting select{
    font-size: 18px;
    line-height: 21px; 
   border: 1px solid #707070;
   border-radius: 10px;
   height: 33px;
   text-align: center;
   color: #707070;
}
.sorting select{
    margin-right:16px;
}
.sorting select:last-child{
    margin-right:0px;
}
.sorting-wrap .catalog-items{
    width: 775px;
    height: 1570px;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.catalog-card{
    width: 251px;
    height: 307px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 15px;
}
.catalog-card div{
    height:170px;
    width: 251px;
    display:flex;
    justify-content: center;

}
.catalog-card div img{
    text-align:center;
    padding-top: 24px; 
}
.catalog-card p{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #707070;
    margin-top:36px;
    margin-bottom: 18px;
}

.catalog-card  span.newprice{
    font-size: 18px;
    line-height: 21px;
    color: #F2BF63;
}
.catalog-card  span.oldprice{
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #707070;
    padding-top: 2px;
}
  .catalog-items  div:nth-child(3) {
    display:flex;
    justify-content:space-between;
    padding-left: 22px;
    padding-right:22px;
}
.pages{
    margin-top: 56px;
    margin-bottom: 116px;
    display: flex;
    flex-direction:row;
    padding-left: 296px;
}

.pages li{
    font-size: 24px;
    line-height: 28px;
    color: #707070;
    margin-right: 24px;
    display:inine-block;
    
}
.pages li:first-child{
    text-align:center;
    width: 35px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 3px;
}
 .footer .container{
    display:flex;
    flex-direction: column;
}
.footer-bottom{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background: #EAEAEA;;
}