*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    outline:none;
}

.container{
    border: 1px solid red;
    width:1140px;
    margin: 0 auto;

    display:flex;
    justify-content: space-between;
}
li{
    list-style-type: none;
}
a{
    color:inherit;
    text-decoration: none;
}
button{
    border: none;
    background-color: transparent;
}
body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #707070;
    height:10000px; /* временно*/
}
/*  Header*/
.header{ 
    height:45px;    
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid #F0F0F0;
}
.header .container{
   display:flex;
   justify-items: space-between;
}
.header:hover{
  border-bottom: 2px solid rgba(33, 166, 243, 1);
}
.header-top-left {  
    display:flex;
    padding-top: 11px;
    padding-bottom: 11px;
    color: #707070; 
    font-size: 20px;
    line-height: 23px;
}
.header-top-left li:first-child{
  margin-right: 44px;
}
.header-top-left li:hover{
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}

.header-top-right {
    display:flex;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    line-height: 21px;
}
.header-top-right span:hover{
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}    
.header-top-right img:hover{
    border: 2px solid rgba(33, 166, 243, 1);
}
.header-top-right img:first-child{
    width:24px;
    height:24px;
    margin-right:8px;
    margin-left: 45px;
}
.header-top-right img:last-child{
    width:22px;
    height:23px;
    margin-right:8px;
    margin-left:44px;
}
.header-top-right span:last-child{
    vertical-align:6px;
    padding-right: 5px;
}

.logo{  
    border-bottom: 1px solid #F0F0F0;  
}
.logo .container{
    display:flex;
    justify-content:center;
}
.logo img{
    width: 219px;
    height: 66px;
    margin-top: 39px;
    margin-bottom: 30px;
}
.logo:hover{
 border-bottom: 2px solid rgba(33, 166, 243, 1);
}
.logo img:hover{
    border: 2px solid rgba(33, 166, 243, 1);
}

/*header-search*/
.header-search{   
    color: #707070; 
    border: 1px solid #F0F0F0;
}
.header-search .container{
    display:flex;  
    justify-content: space-between; 
    position:relative;
    border:1 px solid red;
}
.header-search ul{
    display:flex;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}
.header-search ul li{
    padding-top:24px;
    padding-bottom: 24px;
    margin-right:52px;   
} 
.header-search ul li a:hover{
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}
.header-search .icons{
    position:relative;
    display:flex;
    justify-content: flex-start;
}

.header-search .icons li:hover{
    border: 2px solid rgba(33, 166, 243, 1);
}
.header-search .icons button:first-child{
    width: 31px;
    height: 31px;
    margin-top: 20px;
    margin-right: 52px;
}
.header-search .icons button:last-child{
        width: 38px;
        height: 38px;
        margin-top: -5px;
}
img.ellipse{
    width: 16px;
    height: 16px;
    background: #F2BF63;
    border-radius: 10px;
    position:absolute;
    top: 8px;
    right: 0px;
}
.header-search span{
    position:absolute;
    top: 12px;
    right: 6px;
    font-size: 8px;
    line-height: 9px;
    text-align: center;
    color:  #FFFFFF;
}
/*breadcrumbs*/

.breadcrumbs ul{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
}
.breadcrumbs ul li{
    font-size: 14px;
    line-height: 16px;
    margin-right:8px;
    margin-top:24px;
    margin-bottom:40px;
}
.breadcrumbs ul img{
    margin-left:8px;
    width: 4px;
    height: 4px;
    vertical-align: 2px;
}
/* sale */
.sale .container{
    display:flex;
    height: 173px;
    background: url(images/background.jpg);
    margin-bottom: 41px;
}
.sale-block h1{
    display: flex;
    flex-direction:column;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sale-block h1 span{
    margin-left:585px;  
    margin-bottom:12px; 
}
.sale-block h1 span:first-child{
    margin-top: 50px;
}
.sale-block h1 span:hover{
    display:inline-block;
    border-bottom: 2px solid rgba(33, 166, 243, 1);
}
.sale .container:hover{
    border: 2px solid rgba(33, 166, 243, 1);
}