html{
    font-size: 20px;
  }
  

  p{
    font-family: 'Philosopher', sans-serif;

  }
  h2 {
      font-family: 'Lobster', cursive;
  }
  div {
    border: 30p;
    padding: 20px;
    -moz-border-image: url(ramka.png) 30 round round;
    -webkit-border-image: url(ramka.png) 30 round round; 
    -o-border-image: url(ramka.png) 30 round round;
    border-image: url(ramka.png) 30 round round;
   }