.container{
display:flex;
justify-content: ;
width: 1200px;
}
.header-top{
    background-color: yellow;
    
    .container{
        display:flex;
        justify-content:space-between;

        ul { 
            display:flex;
            align-items:center;
            height: 81px;
            li {
                margin-right: 50px;
                a {
                    color: $light-grey;
                    font-size:$fs18;
                    line-height: 25px;
                    text-decoration: 

                }
            }
        }
        .autorization{
            span{
                font-weight:$semi-bold;
                 font-size: $fs16;
                 line-height: 22px;
                 color:$white;

             &:first:child{
                 padding-right: 17px;
                 margin-right: 17px;
                 border-right: 1px solid $grey:
             }   
            }
        }
    }
}
.header-top{

}
.header{
   

    .container{
        display:flex;
        height: 156px;
        justify-content:space_between;
        align-items:center;

        img {
            width: 148px;
        }

        .search{
            display:flex;

            ul{

                li {
                    font-size: $fs16;
                    line-height: 22px;

                $:first-child{
                    font-weight: @semi-bold
                    text-shadow:    ;
                    padding-left: 
                 &:before{
                     content: "";
                     width: 19px;
                     heoght: 19px;
                     background: url(images/phone.svg) center no-repeat;
                     position: absolute;
                     left:0px;
                     top: 5px;

                 }

                }
                }
            }

            input{
                background:$bg_input;
                border: 1px solid $border_input;
                width:341px;
                height: 48px;
                border-radius: 47px;
                padding-left: 30px;
                line-height: ;
                color:$color_input;
                margin-right: 58px;

        }
    }
}