@media all and (max-width: 1180px){
.container{
    width: 900px;
}
.header-top-icons li{
    margin-right: 12px;
}
.header-top ul.header-top-menu li{
    margin-right:20px;
}
.header-top ul.header-top-menu{ 
    margin-right: 23px;
}
.header-search .search{
    width: 462px;
}
.header-bottom-menu{
    margin-left: 165px;
}
.filter{
  width: 200px;
}
.filter img{
    margin-left: 42px;
  }
.filters-wrap ul li{
    margin-right: 30px;
}
.catalog-breadcrumbs{
    width:390px;
    }
.catalog-item{
    width: 289px;
}
.footer ul:first-child, .footer ul:nth-child(2){
    margin-right: 60px;
  }
.footer ul:last-child{
    margin-right: 30px;
}




}