@media all and (max-width: 1180px){
.container{
    width: 900px;
}
.header-top-icons li{
    margin-right: 12px;
}
.header-top ul.header-top-menu li{
    margin-right:20px;
}
.header-top ul.header-top-menu{ 
    margin-right: 23px;
}
.header-search .search{
    width: 462px;
}
.header-bottom-menu{
    margin-left: 165px;
}
.filter{
  width: 200px;
}
.filter img{
    margin-left: 42px;
  }
.filters-wrap ul li{
    margin-right: 30px;
}
.catalog-breadcrumbs{
    width:390px;
    }
.catalog-item{
    width: 289px;
}
.footer ul:first-child, .footer ul:nth-child(2){
    margin-right: 60px;
  }
.footer ul:last-child{
    margin-right: 30px;
}




}
@media all and (max-width: 930px){
    .container{
     width: 560px;   
    }
    .header-top ul.header-top-menu{
        overflow:hidden;
        margin-right: 0px;
        float:none;
        width: 406px;
        margin-left: auto;
        margin-right: auto;
    } 
    .header-top ul.header-top-menu:last-child{
        margin-right: 0px;
    }
    .header-search img[alt="logo"]{
        display:none;
    }
    .header-search .search{
    width:320x;
    }
    .header-bottom-menu{
    margin-left: 70px;
}
.header-bottom-menu li:first-child, 
.header-bottom-menu li:nth-child(4){
    margin-left: 0px; 
    margin-bottom: 10px;
}
 .filter{
     width: 100%;
     text-align: center;
 }
 .filters-wrap ul li{
     margin-bottom: 10px;
 }
 .catalog-breadcrumbs{
     width: 370px;
     margin: 0 auto 10px;
     float:none;
 }
 .catalog-sort{
     float:left;
     width:100%
 }
 .catalog-sort ul{
     width:440px;
     float:left;
 }
 .catalog-sort ul li:first-child{
     margin-left: 0px}
.catalog-item{
    width:272px;
}
.footer ul:nth-child(2){
    height:214 px;
    margin-bottom: 40px;
}
 }
 @media all and (max-width: 560px){
    .container{
         width:300px;
     }
     .header-top ul.header-top-menu li{
         float:none;
     }   
     .header-top-icons{
        float: none;
        overflow:hidden;
     }
     .header-search img[alt="hamburger"]{
        float:right;
        margin-right: 0px;
        margin-top: 0px;
    }   
    .header-search .search{
        margin-top: 21px;
        width:100%;
    }
    .header-search{
        margin-top: -20px;
    }
    .header-search{
    margin-top: 20px;
    float:none;
    width:100%;
    }
    .header-bottom-menu{
        margin-left: 0px;
    }
    .header-bottom-menu li{
        float:none;
        margin-left: 0px;
    }
    .sale-red-block{
        width:100%;
    }
    .filter img{
        margin-left: 0px;
    }
    .catalog-breadcrumbs h2 span{
        display:block;
        margin-left: 0px;
    }
    .catalog-sort ul{
        float:none;
        width:100%;
    }
    .catalog-sort ul li{
        float:none;
    }
    .catalog-sort ul li:first-child{
        margin-bottom: 10px;
    }
.catalog-items{
    margin-left: 0px;
    margin-right: 0x}
}
.catalog-item{
    width:100%;
    height:410px;
    margin-left: 0px;
    margin-right: 0px;
}
.toys{
    padding-left: 36px;
    height:230px;
    background-position-x: -566px;
}
.footer ul:first-child,
.footer ul:nth-child(3){
    margin-bottom: 40px;
}
.footer ul:nth-child(2){
height: auto;
}
}

 @media all and (max-width:425px){
    .sale-red-block h1 span:first-child{
        font-size:36px;
    }
 }