
/*сброс дефолтных настроек*/
*{
    margin:0;   
    padding:0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.clearfix::after{
    content:'';
    display:block;
    clear:both;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
body{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: black;
}
/*header*/

.header-top ul.header-top-menu {
    padding-top: 29px;
    margin-right: 76px;
    float:left;
}
.header-top ul.header-top-menu li{
    float: left;
    margin-right:26px;
}
.header-top ul.header-top-menu li a{
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

/*header-top-icons*/
.header-top-icons{
    float:right;
    padding-top: 24px;  
}
.header-top-icons li{
    margin-right:24px;
    float: left;
}
.header-top-icons li:nth-child(3){
    margin-right:45px;
    }
.header-top-icons li:last-child img{
    margin-right: 8px;
}

.header-top-icons li:last-child span{
    vertical-align: 7px;
}
.header-top .phone{
    padding-top: 24px;
}
.header-top .phone img{
    margin-right: 8px;
 
}
.header-top .phone span{
    vertical-align: 7px;
    margin-right: 90px;
}
/*header-search*/
.header-search{

}
.header-search img[alt="hamburger"]{
    float:left;
  
}
.header-search img[alt="logo"]{
    float:left;
  
}
.header-search .search{
    float:left;
}
.header-search button{
    float: left;
}