
/*сброс дефолтных настроек*/
*{
    margin:0;   
    padding:0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;  
}
.clearfix::after{
    content: '';
    display:block;
    clear:both;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
body{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: black;
    overflow-x:hidden;
}
/*header*/


/*header-top-menu*/
.header-top ul.header-top-menu{
    padding-top: 26px;
    margin-right: 76px;
    float:left;
}
.header-top ul.header-top-menu li{
    float: left;
    margin-right:26px;
}
.header-top ul.header-top-menu li a{
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}
/*header-top-icons*/
.header-top-icons{
    float:right;
    padding-top: 24px;  
}
.header-top-icons li{
    margin-right:24px;
    float: left;
}
.header-top-icons li:nth-child(3){
    margin-right:45px;
}
.header-top-icons li:last-child img{
    margin-right: 8px;
    padding-top: 0 px;
}
.header-top-icons li:last-child span{
    vertical-align: 7px;
}
.header-top .phone{
    padding-top: 24px;
}
.header-top .phone img{
    margin-right: 8px;
}
.header-top .phone span{
    vertical-align: 7px;
    margin-right: 90px;
}
/*header-search*/
.header-search img[alt="hamburger"]{
    float:left;
    margin-top: 65px;
    margin-right: 45px;
}
.header-search img[alt="logo"]{
    float:left;
    margin-top: 36px;
    margin-right: 45px;

}
.header-search .search{
    float:left;
    background: #F9F9F9;
    border-radius: 8px;
    width: 702px;
    height: 52px;
    margin-top: 51px;
    padding-top: 14px;
    padding-left: 24px;
    position:relative;
}
.header-search .search >img{
  position:absolute; 
  left: 15px; 
  top: 15px; 
}
.header-search button{
    float:right;
    background: #81B43F;
    border-radius: 8px;
    width: 156px;
    height: 52px;
    border: none;
    margin-top: 52px;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;  
    color: #FFFFFF;
}
.header-search .search input{
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0,5);
    background: transparent;
    border:none;
    display:inline-block;
    width:100%;
    height: 100%;
    padding-left: 55px;
}
.header-search button span:first-child{
    display: inline-block;
    height: 28px;
    border-right: 1px solid #FFFFFF;
    padding-right: 14px;
    vertical-align: sub;
}
.header-search button span:last-child{
    vertical-align: sub;
    margin-left: 14px;
}
/*header-bottom-menu*/
.header-bottom-menu{
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-top: 24px;
    margin-left: 205px;
}
.header-bottom-menu li{
    float:left;
    margin-left: 29px; 
}
.header-bottom-menu li.active{
    color: #FF715B;
}
/*sale*/
.sale{
    height: 381px;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 37px;
    padding-top: 80px;
}
.sale-red-block{
    width: 511px;
    height: 226px;
    background: #FF715B;
    float:right;
}
.sale-red-block h1{
    color: #FFFFFF;
    font-style: normal;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    padding-top: 41px;
}
.sale-red-block h1 span:first-child{
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    display: block;

}
.sale-red-block h1 span:nth-child(2){
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    display: block;
}
.sale-red-block h1 span:last-child{
    display: block;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
}
/*filter*/
.filter{
    height: 96px;
    width: 272px;
    border-left: 1px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
    float:left;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding-top: 30px;
}
.filters-wrap ul{
    float:right;
    margin-top: 32px;
}
.filter img{
  margin-left: 83px;
  margin-right: 8px;
}
.filter span{
    vertical-align: 7px;
}
.filters-wrap ul li{
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    float:left;
    margin-right: 64px;
}
.filters-wrap ul li:last-child{
    margin-right: 0px;
}
.filters-wrap ul li a:hover{
    display:inline-block;
    border-bottom: 2px solid #FF715B;
    padding-bottom: 6px;
}
/*catalog*/
.catalog{
    background: #F9F9F9;
    padding-top: 66px;
    padding-bottom: 50px;
}
.catalog-breadcrumbs{
float: left;
width:620px;
}
.catalog-breadcrumbs ul li{
    float:left;
}

.catalog-breadcrumbs ul li a{
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
}
.catalog-breadcrumbs ul li a.active{
    color: black;
}
.catalog-breadcrumbs ul li img{
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: -3px;
}
.catalog .catalog-sort{
    float:right;
}
.catalog-breadcrumbs h2{
    font-family:"Noto Sans",sans-serif ;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
}
.catalog-breadcrumbs h2 span{
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 19px;
}
/*catalog-sort*/
.catalog-sort ul{
margin-top: 16px;
}
.catalog-sort ul li{
float:left;
font-family: "Noto Sans", sans-serif;
font-style: normal;
font-weight: normal;
color: rgba(0, 0, 0, 0.5);
margin-left: 15px;
cursor: pointer;
}
.catalog-sort ul li:first-child{
    color:black;
}
.catalog-sort img{
    float:right;
    margin-left: 16px;
}
/*catalog-item*/
.catalog-item{
    width: 272px;
    height: 387px;
    background-color: white;
    border-radius: 8px;
    background: url(images/love.svg) right 20px top 20px no-repeat white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 16px;
    float:left;
    margin-right:8px;
    margin-left:8px;

}
.catalog-items{
    margin-left: -8px;
    margin-right: -8px;
    margin-top:28px;
}
.catalog-item-img{
text-align:center;
}
.catalog-item-img img{
    width: 100%;
    margin-top: 16px;
}
.stars span:not(.text){
    display:inline-block;
    height: 9px;
    width: 9px;   
}
.stars span:not(.text):not(.empty){
background: url(images/star.svg) no-repeat;
}
.stars span.empty{
    background: url(images/star0.svg);
    opacity: 0.3;
}
.stars span.text{
    font-family: "Noto Sans", sans-serif; 
    font-size: 10px;
    margin-left: 7px;
    color: rgba(0, 0, 0, 0.5);
}
.catalog-item h5{
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;  
    line-height: 160%;
    color: #000000;
}
.catalog-item p{
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom:2px;
}
.catalog-item h4{
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height:22px;
    color:black;
}
.catalog-item .basket{
    width: 36px;
    height:36px;  
    border-radius: 8px;
    float:right;
    background: url(images/basket.png) center no-repeat #81B43F;
    background-size: 23px; 
    margin-top: -24px;
}
.toys{
    background:url(images/toys.jpg) center no-repeat;
    height: 209px;
    background-size: cover;
    clear:both;
    padding-top:61px;
    padding-left: 136px;
}
.toys h2{
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 12px;
}
 .btn{
    width: 191px;
    font-family:"Noto Sans",sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;  
    border: 1px solid black;
    border-radius: 5px;
    background:transparent;
    padding-left: 24px;
    padding-right: 24px;
}
 .catalog .container > .btn{
    margin-top:30px;
    height: 47px;
    display: block;
    margin-left: auto;
    margin-right:auto;
}
.catalog .container > p{
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 30px;
}
/*footer*/
.footer{
padding-top: 56px;
padding-bottom: 28px;
background-color: rgba(218,218,218,0.3);
}
.footer ul{
float:left;
}
.footer ul:first-child{
   margin-right: 126px;
 }
.footer ul:nth-child(2){
    margin-right: 110px; 
     }
.footer ul:last-child{
    margin-right: 91px; 
}
.footer ul li:first-child{
    margin-bottom: 12px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.footer ul li{
    margin-bottom: 8px;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.8);
}
.footer ul li img:first-child{
    width: 140px;
    height: 54px;
}
.footer ul li img:last-child{
    width: 100px;
    height: 26px;
}
.footer .social{
    text-align:center;
    margin-top: 77px;
}
.footer .social img{
    margin-left: 9px;
    margin-right: 9px;   
}
.footer > p{
    margin-top: 20px;
    text-align:center;
    font-family: "Noto Sans", sans-serif;
    font-size: 10px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.5);
}