@media all and (max-width:540px){
    label{
        width: 175px;
        float:right;
        }
        input[type="text"], textarea{
        }
        .article{
            height:20px;
            margin-right:40px;  
        }
    }

    