@media all and (max-width:530px) {
    .title{
        margin-left: 0px;
        margin-right: 40px;
        margin-top: 10px;
    }
    label{
    float: none;
    display: block;
    margin-bottom: 10px;
    }
    input[type="text"]{
        margin-top:10px;
    }
    input[type="text"], textarea{
        width: 100%;
    }
    input[type="radio"]{
        display: block;

    }
    input[type="checkbox"]{
        display: block;
        margin-top: -26px;
        margin-left: 180px;
    }
   span{
        display: block;
        margin-left: 30px;
        margin-top: -15px;
}
    .article{
        height:20px;
        margin-right:40px;  
    }