@media all and (max-width:530px) {
    .title{
        margin-left: 0px;
        margin-right: 40px;
        margin-top: 10px;
    }
    label{
    float: none;
    display:block;
    }
    input[type="text"]{
        margin-top:10px;
    }
    input[type="text"], textarea{
        width: 100%;
    }
    .article{
        height:20px;
        margin-right:40px;  
    }
}