
.container{
    position: relative;
    width: 500px;
    height:500px;
    border: solid red 1px;
    margin-right: auto;
    margin-left: auto;
}
.container img{
    position:absolute;
    width: 250px;
    height: 250px;
}
.container img:first-child{
    top:10px;
    left:10px;
}
.container img:nth-child(2){
    top: 10px;
    left: 250px;
}
.container img:nth-child(3){
    bottom: 5px;
    right: 100px;
}
.container img:last-child{
    top: 90px ;
    left: 150px ;
}
.container img:first-child:hover {
    position: absolute;
    top: 90px;
    left: 150px;
    z-index: 1;
    cursor: pointer;
    width: 300px;
    height: 300px;
}
.container img:nth-child(2):hover{
    position: absolute;
    top: 90px;
    left: 150px;
    z-index: 1;
    cursor: pointer;
    width: 300px;
    height: 300px;
}
.container img:nth-child(3):hover{
    position: absolute;
    top: 90px;
    left: 150px;
    z-index: 1;
    cursor: pointer;
    width: 300px;
    height: 300px;
}
